<div class="navbar">
    <div class="menu-button">
        <span class="material-symbols-outlined" id="menu-toggle">menu</span>
    </div>
    <div class="title-products">
        <h2>Products Store</h2>
    </div>
    <div>
        <a href="/api/carts/{{cartId}}" class="cart-button">
            <span class="material-symbols-outlined">shopping_cart</span>
        </a>
    </div>
</div>

{{!-- SIDEBAR --}}
<div id="sidebar" class="sidebar">
    <ul>
        <li><a href="/api/viewsproducts">Home</a></li>
        <li><a href="/api/chat">Chat</a></li>
        <li><a href="/api/viewsproducts/addproduct">Add Product</a></li>
        <li><a href="/api/viewsproducts/deleteproduct">Delete Product</a></li>
        <li><a href="/api/profile">Profile</a></li>
    </ul>
    <div class="button-logout">
        <a href="/api/auth/logout">Logout</a>
    </div>
</div>

<div id="overlay" class="overlay"></div>

<div class="form-container delete-product-form">
    <h2>Delete Product</h2>
    <p>Please enter the Product ID to delete it from the database.</p>
    <form id="deleteForm">
        <input id="productId" type="text" placeholder="Product ID">
        <button type="submit" class="form-button">Delete Product</button>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/client.deleteProduct.js"></script>