<div class="container-login">
    <div class="error-container">
        <h2>Inicio de sesión fallido</h2>
        <p>Usuario o contraseña incorrectos. Intenta nuevamente.</p>
        <a href="/api/login" class="btn-fail">Volver a intentar</a>
    </div>
</div>