<div class="container-login">
    <div class="error-container">
        <h2>Registro fallido</h2>
        <p>Hubo un problema al intentar registrarte. Por favor, intenta nuevamente.</p>
        <a href="/api/signup" class="btn-fail">Volver a intentar</a>
    </div>
</div>
