<div class="container-login">
    <h2 class="login-title">Login</h2>

    <form id="loginForm" class="container-form">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-input">

        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" id="password" class="form-input">


        <div id="loginError" class="error-message"></div>

        <button type="submit" class="login-button">Iniciar Sesión</button>

        <a href="/api/signup" class="signup-link">Regístrate</a>

        <div class="github-login">
            <a href="/api/auth/github"><img src="/images/github.png" alt="github"></a>
        </div>
    </form>
</div>

<script src="/js/client.login.js"></script>