<div class="navbar">
    <div class="menu-button">
        <span class="material-symbols-outlined" id="menu-toggle">menu</span>
    </div>
    <div class="title-products">
        <h2>Products Store</h2>
    </div>
    <div>
        <a id="cart-btn" href="#" class="cart-button">
            <span class="material-symbols-outlined">shopping_cart</span>
        </a>
    </div>
</div>

{{!-- SIDEBAR --}}
<div id="sidebar" class="sidebar">
    <ul>
        <li><a href="/api/viewsproducts">Home</a></li>
        <li><a href="/api/chat">Chat</a></li>
        <li><a href="/api/viewsproducts/addproduct">Add Product</a></li>
        <li><a href="/api/viewsproducts/deleteproduct">Delete Product</a></li>
        <li><a href="/api/profile">Profile</a></li>
    </ul>
    <div class="button-logout">
        <a href="/api/auth/logout">Logout</a>
    </div>
</div>

<div id="overlay" class="overlay"></div>

<div class="profile-container">
    <h2 class="profile-title">Perfil</h2>
    <div class="profile-info">
        <p><strong>Nombre:</strong> {{user.firstName}}</p>
        <p><strong>Apellido:</strong> {{user.lastName}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>NickName:</strong> {{user.nickName}}</p>
    </div>
</div>


<script src="/js/client.profile.js"></script>
