<div class="container-login">
    <h2 class="login-title">Registro </h2>
    <form action="/" method="post" id="signupForm" class="container-form">

        <label class="form-label">Nombre</label>
        <input type="text" name="firstName" class="form-input">

        <label class="form-label">Apellido</label>
        <input type="text" name="lastName" class="form-input">

        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-input"> 

        <label class="form-label">Nickname</label>
        <input type="text" name="nickName" class="form-input"> 

        <label class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-input">

        <div id="signupError" class="error-message"></div>

        <button type="submit" class="login-button">Crear Usuario</button>
        <a href="/api/login" class="signup-link">Login</a>
    </form>
</div>

<script src="/js/client.signup.js"></script>