<div class="unauthorized-container">
    <h1 class="unauthorized-title">Acceso Denegado</h1>
    <p class="unauthorized-message">Debes acceder para acceder a esta página</p>
    <a href="/api/login" class="unauthorized-button">Volver al inicio</a>
</div>